<launch>
    <group ns="MAV2">
	<param name="UAV_ID" value="2"/>
	<param name="obs_safe_D" value="0.6"/>
	<param name="obs_gamma" value="0.8"/>
    	<param name="MAV_safe_D" value="0.6"/>
    	<param name="MAV_gamma" value="0.8"/>
    	<param name="delay_step" value="0"/>
	<rosparam param="laplacian">
                        [1,0,0,0,0,
                         1,1,0,0,0,
                         1,0,1,0,0,
                         1,1,0,1,0,
                         1,1,0,0,1]</rosparam>
	<param name="sub_topic" value="/vrpn_client_node/MAV2/pose"/>

        <include file="$(find mavros)/launch/px4.launch">
        </include>
        <node name="topic_tool" pkg="flight_control" type="topic_tool"></node>
        <node name="formation" pkg="flight_control" type="formation"></node>
        <node name="velocity_cbf_generator" pkg="flight_control" type="velocity_cbf_generator" output="screen">
            <rosparam subst_value="true">
                use_input: "velocity"  #velocity,position
           </rosparam>
       </node>
    </group>
</launch>
